body{
    background-color: rgb(166, 191, 223);
}
#we{
     
    margin-top: 50px;
    margin-left:350px;
    border: 2px double rgb(27, 40, 21);
    
}
img{
    height: auto;
    width: 50px;
}
td{
    height: 60px;
   width: 55px;
}
 